@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            Contoso University is a place for learning AspNetCore and related technologies.  This demo application is an amalgamation of smaller demo applications found in tutorials at <a href="https://docs.microsoft.com/en-us/aspnet/core/">AspNetCore docs</a>.  The tutorials are great at demonstrating isolated concepts, but issues surfaces when applying these concepts/techniques in a larger context.  The purpose of this demo application is to apply concepts/techniques learned from those tutorial into a single domain (i.e. university).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>
            You can build the initial application by following the steps in a series of tutorials.
        </p>
        <p>
            <a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">
                Seee the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from Github.</p>
        <p>
            <a class="btn btn-default" href="https://github.com/alimon808/contoso-university">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>